@import "tailwindcss";

/* Animaciones */

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.animate-slideIn {
    animation: slideIn 0.3s ease-in-out forwards;
}

.animate-slideInTop {
    animation: slideInTop 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}